<div style="bodymain"> 
<br>
 <br>
 <br>
<p>
Alireza Aghamohammadi,  King County, Washington <br>
<br>
<img  src="assets/images/IMG_ME.jpg" >
<br>
<br>
I’m Devops Engineer currently working at Expedia. I’m a big advocate of open source technology and love Linux, Docker and Ansible. More recently I have become interested in Cloud in particular AWS. I try to solve day to day problems using technology. For example, I built a baby monitor for my son using Raspberry Pi so I could see him on our smart TV or any of our smartphones !!
<br>
<br>

<img  src="assets/images/IMG_PI.jpg" >
<br>
<br>

I don’t see myself as a programmer that codes 24/7 rather I see myself as a Devops engineer that knows how to use tools and applications to automate platforms and yes that requires programming sometimes such as shell scripting or being able to debug Java applications. Of course I do write programs at work and home for various projects ( using shell scripting or MEAN stack )  but that’s not my primary skill set when I build a CI/CD pipeline or create containers etc. 

</p>
<div>
