

<nav class="navbar navbar-inverse" background-color="#144002" >
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">NANOSECONDS</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">

<li><a class="nav-item nav-link"  routerLink="/home" routerLinkActive="active">HOME <span class="glyphicon glyphicon-home"></span></a> </li>
<li><a class="nav-item nav-link"  routerLink="/about" routerLinkActive="active">ABOUT <span class="glyphicon glyphicon-user"></span></a></li>
<li> <a class="nav-item nav-link"  routerLink="/contact" routerLinkActive="active">CONTACT</a> </li> 
<li> <a class="nav-item nav-link" href="https://github.com/nanoseconds" target="_blank"> GITHUB  </a> </li>
<li> <a class="nav-item nav-link" href="https://hub.docker.com/u/nanosecondsus" target="_blank">DOCKERHUB </a> </li>
<li> <a class="nav-item nav-link" href="https://stackoverflow.com/users/717630/cpu-100" target="_blank"> STACKOVERFLOW </a> </li>  

 
      </ul>

    </div>
  </div>
</nav>
  







 


 <router-outlet></router-outlet>


